{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-stage-2",
            {
                "decoratorsLegacy": true
            }
        ],
        "@babel/preset-es2015"
    ]
}
